# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# Poetry
poetry.lock

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Backup dirs
*_backup/
